.contact-form-container {
  display: flex;
  flex-direction: column;
  
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 5px auto;
}

.contact-form {
  width: 100%;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
}

.required {
  color: red;
  margin-left: 2px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.send-message-button {
  background-color: #1E1E1E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.send-message-button:hover {
  background-color: #45a049;
}

.clear-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
}

.clear-button:hover {
  color: #0056b3;
}

.contact-info {
  margin-top: 30px;
  text-align: left;
  font-size: 0.9em;
  color: #555;
  align-items: end;
  margin-left: 20px;
}

.contact-info p {
  margin: 5px 0;
}
